/* ----------------------------------------
Global Styles

Notes:
  - Import single-level-deep files via glob from parent
    ie: @require 'base/*'
  - Import sub-sections by requiring their parent and
    use an index.styl importing that directories files
    either by glob or explicitly (if glob, be careful
    about import order)
    eg: @require 'modules/navbar/'
*/



@require 'base/_reset'
@require 'base/_vars-default'
@require 'base/*'
