// dom classes for Lost grid


.row
  lost-utility: clearfix

.col-1
  +above(750px)
    lost-column: 1/12 0
.col-2
  +above(750px)
    lost-column: 2/12 0
.col-3
  +above(750px)
    lost-column: 3/12 0
.col-4
  +above(750px)
    lost-column: 4/12 0
.col-5
  +above(750px)
    lost-column: 5/12 0
.col-6
  +above(750px)
    lost-column: 6/12 0
.col-7
  +above(750px)
    lost-column: 7/12 0
.col-8
  +above(750px)
    lost-column: 8/12 0
.col-9
  +above(750px)
    lost-column: 9/12 0
.col-10
  +above(750px)
    lost-column: 10/12 0
.col-11
  +above(750px)
    lost-column: 11/12 0
