.bold    { font-weight: $bold-font-weight }
.regular { font-weight: normal }
.light   { font-weight: $light-font-weight }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.t-light-3 { font-weight: 300 }
.t-light-4 { font-weight: 400 }
.t-light-5 { font-weight: 500 }
.t-small { font-size: 70%}

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.t-large
  font-size: 14px

.t-no-wrap
  white-space: nowrap