
/*
Whitespace
*/

$space-1   = .5rem
$space-1-5 = .75rem
$space-2   = 1rem
$space-2-5 = 1.5rem
$space-3   = 2rem
$space-3-5 = 2.5rem
$space-4   = 4rem
$space-4-5 = 4.5rem

/*
Forms
*/

$form-field-font-size = 1rem
$form-field-height = 2.25rem
$form-field-padding-y = .5rem
$form-field-padding-x = .5rem

/*
Buttons
*/

$button-font-size = inherit
$button-font-weight = bold
$button-line-height = 1.125rem
$button-padding-y = .5rem
$button-padding-x = 1rem

/*
Widths
*/

$container-width = 64em

/*
Colors
*/

$darken-1 = rgba(0,0,0,.0625)
$darken-2 = rgba(0,0,0,.125)
$darken-3 = rgba(0,0,0,.25)
$darken-4 = rgba(0,0,0,.5)

$black = #000
$white = #fff

/*
Borders
*/

$border-width = 1px
$border-radius = 3px
$border-color = $darken-2

/*
Type
*/

// $font-family = 'Helvetica Neue', Helvetica, sans-serif
// $font-family = 'Noto Serif', serif
$font-family = 'Cardo', serif
// $font-family =  Georgia, Times, "Times New Roman", serif
$line-height = 1.7
// $body-font-size = 100%
$body-font-size = 17px
$heading-font-family = $font-family
$heading-font-weight = bold
$heading-line-height = 1.25
$monospace-font-family = 'Source Code Pro', Consolas, monospace
$h1 = 2rem
$h2 = 1.5rem
$h3 = 1.25rem
$h4 = 1rem
$h5 = .875rem
$h6 = .75rem
$bold-font-weight = 700
$light-font-weight = 400

$heading-margin-top = 2em
$heading-margin-bottom = 1em
$paragraph-margin-top = 0
$paragraph-margin-bottom = $space-3
$list-margin-top = 0
$list-margin-bottom = $space-2
$monospace-font-family = 'Source Code Pro', Consolas, monospace
$pre-font-size = inherit
$pre-margin-top = 0
$pre-margin-bottom = space-2
